<h2 class="page-title">Share a Youtube Movie</h2>

<%= form_with(model: @video) do |f| %>
  <div class="d-flex flex-column justify-content-center align-items-center">

    <div class="form-group mb-3 w-50">
      <%= f.label :youtube_url, class: "form-label" %>
      <%= f.text_field :youtube_url, class:"form-control", required: true  %>
    </div>

    <div class="mb-3 d-flex align-items-center justify-content-center">
      <%= f.submit "Share", class:"btn btn-lg btn-primary " %>
    </div>
  </div>
<% end %>
