<footer class="text-center text-lg-start bg-light text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Created by:
    <a class="text-reset fw-bold" href="https://github.com/vovanhai193/sharedvideoapp">Hai Vo</a>
  </div>
</footer>
